<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" placement="bottom" [routerLink]="['/home']">
        <span> Sorteos • Lobo <br />¡Entre Amigos! </span>
      </a>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> Sorteos • Lobo </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/mis-tickets']">
            <i class="tim-icons icon-zoom-split"> </i> Mis Boletos
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header">
    <img class="dots" src="assets/img/dots.png" />

    <img class="path" src="assets/img/path4.png" />

    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <h1 class="profile-title text-left">Elige tus boletos</h1>
          <h5 class="text-on-back">01</h5>

          <h2>Precio del boleto: ${{ ticket_price }} MXN</h2>
        </div>
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <h4 class="title">Seleccionador</h4>
            </div>
            <div class="card-body">
              <div class="row justify-content-center">
                <h1 class="text-white">Boletos para elegir</h1>
              </div>
              <div class="row justify-content-around align-items-center">
                <div class="col-2">
                  <button
                    class="btn btn-simple btn-danger btn-icon btn-round"
                    type="submit"
                    (click)="sub_ticket(1)"
                  >
                    <i class="tim-icons icon-simple-delete"> </i>
                  </button>
                </div>

                <div class="col-8">
                  <div class="col-auto">
                    <input
                      type="number"
                      id="ticketCounterInput"
                      class="form-control text-center"
                      [(ngModel)]="ticket_counter"
                      name="ticket_counter"
                      style="font-size: x-large"
                    />
                  </div>
                </div>

                <div class="col-2">
                  <button
                    class="btn btn-simple btn-danger btn-icon btn-round"
                    type="submit"
                    (click)="add_ticket(1)"
                  >
                    <i class="tim-icons icon-simple-add"> </i>
                  </button>
                </div>
              </div>
              <div class="row justify-content-around pt-3">
                <h2>Total: ${{ ticket_counter * ticket_price }} MXN</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <h1 class="title">Lista de boletos</h1>
    </div>
    <div class="row justify-content-center mb-4">
      <div class="search-icon-container text-center">
        <button
          class="btn btn-danger search-icon-btn"
          style="margin: 0"
          type="button"
          style="color: #000"
          (click)="toggleSearchField(loadingModal)"
        >
          <i
            class="{{ showSearchField ? 'fas fa-times' : 'fas fa-search' }}"
          ></i>
        </button>
      </div>
      <div class="search-container text-center" *ngIf="showSearchField">
        <input
          type="text"
          style="margin-top: 3px"
          class="form-control text-center"
          placeholder="Buscar número"
          [(ngModel)]="searchTerm"
          (input)="onSearchChange()"
        />
      </div>
    </div>
    <div class="row justify-content-center">
      <button
        class="btn btn-danger"
        style="color: #000"
        data-target="#myModal1"
        [disabled]="ticket_counter - selectedTickets.length <= 0"
        (click)="selectRandomNumbers()"
      >
        Maquinita de la suerte
      </button>
    </div>

    <div class="scrollable-container">
      <div class="container">
        <div class="lottery-grid">
          <ng-container *ngFor="let ticket of getCurrentPageTickets()">
            <div
              class="lottery-ticket"
              (click)="toggleSelection(ticket)"
              [attr.id]="'ticket-' + ticket.number"
              [ngClass]="{
                selected: ticket.selected,
                blocked: ticket.blocked,
                purchased: ticket.purchased
              }"
            >
              <span class="ticket-number">{{ ticket.number }}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <pagination
        [totalItems]="filteredTickets.length"
        [(ngModel)]="currentPage"
        [maxSize]="9"
        [itemsPerPage]="itemsPerPage"
        (pageChanged)="onPageChange($event.page)"
        class="pagination-danger"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
      ></pagination>
    </div>

    <div class="row justify-content-around">
      <div>
        <button
          class="btn btn-danger"
          data-target="#myModal1"
          [disabled]="selectedTickets.length <= 0"
          style="color: #000"
          (click)="openSelectedTicketsModal(selectedTicketsModal)"
        >
          Ver tus boletos ({{ selectedTickets.length }})
        </button>
      </div>
      <div>
        <button
          class="btn btn-danger"
          data-target="#myModal1"
          [disabled]="selectedTickets.length === 0"
          style="color: #000"
          (click)="deleteAllSelections()"
        >
          Eliminar Elegidos ({{ selectedTickets.length }})
        </button>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-5">
          <h1 class="profile-title text-left">Datos de contacto</h1>
          <h5 class="text-on-back">02</h5>
          <p class="profile-description text-left"></p>
        </div>

        <div class="col-md-6">
          <div class="container">
            <div class="row justify-content-between align-items-center pt-5">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label> Nombre </label>
                      <input
                        class="form-control"
                        type="text"
                        value=""
                        placeholder="Juan Perez Hernandez"
                        [(ngModel)]="final_data.name"
                        name="name"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Correo Electronico </label>
                      <input
                        name="email"
                        class="form-control"
                        placeholder="jhon@email.com"
                        type="email"
                        [(ngModel)]="final_data.mail"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Teléfono </label>
                      <input
                        name="phone"
                        class="form-control"
                        type="text"
                        placeholder="0011223344"
                        [(ngModel)]="final_data.phone"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label> Estado </label>
                      <input
                        name="estado"
                        class="form-control"
                        type="text"
                        placeholder="Jalisco"
                        [(ngModel)]="final_data.state"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-5">
          <h1 class="profile-title text-left">Tu participación</h1>
          <h5 class="text-on-back">03</h5>
        </div>
        <div class="col-md-6">
          <div class="container">
            <div class="row">
              <div class="square square-7" id="square7"></div>
              <div class="square square-8" id="square8"></div>
              <div class="card card-register">
                <div class="card-body">
                  <form class="form">
                    <div class="input-group input-group-focus">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-single-02"></i>
                        </div>
                      </div>
                      <span class="form-control">
                        {{ final_data.name }}
                      </span>
                    </div>
                    <div class="input-group input-group-focus">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-email-85"></i>
                        </div>
                      </div>
                      <span class="form-control">
                        {{ final_data.mail }}
                      </span>
                    </div>
                    <div class="input-group input-group-focus">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-mobile"></i>
                        </div>
                      </div>
                      <span class="form-control">
                        {{ final_data.phone }}
                      </span>
                    </div>
                    <div class="input-group input-group-focus">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-map-big"></i>
                        </div>
                      </div>
                      <span class="form-control">
                        {{ final_data.state }}
                      </span>
                    </div>

                    <button
                      class="btn btn-danger btn-block"
                      data-target="#myModal1"
                      [disabled]="
                        selectedTickets.length <= 0 ||
                        selectedTickets.length != ticket_counter
                      "
                      style="color: #000"
                      (click)="openSelectedTicketsModal(selectedTicketsModal)"
                    >
                      Boletos {{ selectedTickets.length }} /
                      {{ ticket_counter }}
                    </button>
                    <h5>
                      Al finalizar, serás redirigido a Whatsap para enviar la
                      información de
                      {{ ticket_counter > 1 ? "tus boletos" : "tu boleto" }}
                    </h5>
                    <h5>Tus números se quedarán apartados por 12 horas.</h5>

                    <h2>Total: ${{ ticket_counter * ticket_price }} MXN</h2>

                    <div class="form-check text-left">
                      <label class="form-check-label">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          [checked]="isCheckboxSelected"
                          (change)="isCheckboxSelected = !isCheckboxSelected"
                          [@buttonState]="
                            isCheckboxSelected ? 'active' : 'inactive'
                          "
                        />
                        <span class="form-check-sign"></span> Todos los datos
                        son correctos.
                      </label>
                    </div>
                  </form>
                </div>
                <div class="card-footer">
                  <button
                    class="btn btn-danger btn-block"
                    style="color: #000"
                    [disabled]="
                      !isCheckboxSelected ||
                      selectedTickets.length <= 0 ||
                      selectedTickets.length != ticket_counter ||
                      !final_data.name ||
                      !final_data.mail ||
                      !final_data.phone ||
                      !final_data.state
                    "
                    [@buttonState]="isCheckboxSelected ? 'active' : 'inactive'"
                    (click)="addParticipante()"
                  >
                    Enviar!
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #selectedTicketsModal>
  <div class="modal-header">
    <h5 class="modal-title">Boletos Seleccionados</h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="max-height: 400px; overflow-y: auto">
    <div class="lottery-grid">
      <ng-container
        *ngFor="let ticket of selectedTicketsModalData; let i = index"
      >
        <div class="lottery-ticket">
          <span class="ticket-number">{{ ticket.number }}</span>
          <div class="delete-indicator" (click)="deleteSelectedTicket(i)">
            X
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">
      Cerrar Lista
    </button>
  </div>
</ng-template>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="rgb(199, 171, 12)"
  type="pacman"
>
  <p style="font-size: 20px; color: rgb(199, 171, 12)">Procesando...</p>
</ngx-spinner>
